@font-face { /* Adiciona uma nova fonte de texto*/
    font-family: Glacial Indifference;
    src: url(../font/GlacialIndifference-Regular.otf);
}
body { /* Muda toda a estrutura do body no html*/
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.main-menu { /* Muda o texto com esse nome no class*/
    width: 100%;
    background-color: #252323;
    height: 90px;
}
main, .contant { /* Muda o texto com esse nome no class e o main no html*/
    width: 980px;
    margin: 0 auto;
    position: relative;
}
.logo { /* Muda o texto com esse nome no class*/
    padding: 16px;
    float: left;
}
#menu { /* Muda o texto com esse nome no id*/
    
    padding: 34px;
    margin:0px;
    background-color:#fff0;
    list-style:none;
    float: right;
}
#menu ul { /* Muda o texto com esse nome no id*/
    margin: 0 auto;
    text-align: right;
} 
#menu ul li { /* Muda o texto com esse nome no id*/
    display: inline-block;
    cursor: pointer;
    
}
#menu ul li a { /* Muda o texto com esse nome no id*/
    padding: 2px 10px;
    display: inline-block;
    font-family: Glacial Indifference;
    

    /* visual do link */
    color: #fff0ff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
}
#menu ul li a:hover {
    color: #ff6b00;
}
.col-100 { /* Muda o texto com esse nome no class*/
    width: 100%;
    position: relative;
    float: left;
}
.rodape { /* Muda o texto com esse nome no class*/
    background-color: #252323;
    display: flow-root;
    margin: 0 auto;
}
#copyright { /* Muda o texto com esse nome no id*/
    padding: 16px;
    float: left;
    display: block;
}
#logo { /* Muda o texto com esse nome no id*/
    float: right;
    text-align: left;
    list-style:none;
    display: block;   
}
#logo img { /* Muda o texto com esse nome no id*/
    vertical-align: middle;
}
.rodape p { /* Muda o texto com esse nome no class*/
    font-size: 100%;
    color: #fff;
}
.main-rodape { /* Muda o texto com esse nome no id*/
    width: 100%;
    background-color: #252323;
    height: auto;
}
p {
    font-size: 125%;
}
h2 {
    font-size: 200%;
}
h1 {
    font-size: 250%;
}
#corlaranja {
    color: #ff6b00;
}
#linha {
    text-decoration: underline;
    text-decoration-color: #ff6b00;
}
.botao-contato {
    margin-bottom: 30px;
}
.botao-contato button {
    font-size: 150%;
    font-family: Glacial Indifference;
    color: white;
    border-style: outset;
    padding: 10px;
    border-radius: 10px;
    background-color: #ff6b00;
    border-color: #ff6b00;
    text-shadow:none;
    cursor: pointer;
}
.botao-contato button:hover {
    background-color: #252323;
    color: #ff6b00;
    border-color: #252323;
}
.col-100-color {
    background-color: #25232315;
}
.contato {
    text-align: center;
}