.slider-principal img { /* Muda o texto com esse nome no class*/
    width: 100%;
    height: 80ch;
}
button.slick-prev { /* Muda o texto com esse nome no class*/
    font-size: 0;
    border: none;
    width: 50px;
    height: 54px;
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 20%;
    background-color: transparent;
    /*background-image: url('../img/arrow\ 1.png');*/
}
button.slick-next { /* Muda o butão do Slide*/
    font-size: 0;
    border: none;
    width: 50px;
    height: 54px;
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 20%;
    background-color: transparent;
    /*background-image: url('../img/arrow\ 2.png');*/
}
.slick-dotted.slick-slider { /* Muda o texto com esse nome no class*/
    margin-bottom: 0px!important;
}
.container { /* Muda o texto com esse nome no class*/ /*container principal*/
    background-color: #25232315;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
h2{ 
   display: block;
   font-family: Glacial Indifference;
}
p { /* Muda o texto que tenha a tag p*/
    display: block;
    font-size: 125%;
}
hr { /* cria o tracejado com essa tag*/
    margin: 40px 0;
  }
h1 {
    font-family: Glacial Indifference;
}
.block {
    width: 100%;
    display: flex;
}
.block-text {
    text-align: center;
    margin: auto;
    position: absolute;
    z-index: 10;    
    transform: translateX(-50%);
    top: 20%;
    background-color: #ffffff6b;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
}
.block-text-1{
    left: 13.65%!important;
}
.block-text-2 {
    left: 22.73%!important;   
} 
.block-text-3 {
    left: 31.84%!important;
}
.block-text-4 {
    left: 40.93%!important;    
}
.block-text-5 {
    left: 50%!important;
}
.botoes-slide {
    padding-left: 5px;
}
.botao-slide {
    padding-left: 10px;
    padding-right: 10px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 10px;
}
.grid-2 {
    padding-top: 40%;
}
.grid-container img {
    height: auto;
    width: 200px;
}
.grid-container a {
    color: black;
    text-decoration: none;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 10px;
    border-color: black;
}
.grid-container-2 a {
    color: black;
    text-decoration: none;
}
.egg {
    text-decoration: none;
    color: #fff;
}