main {
    text-align: center;
    align-content: center;
}
.principal{
    font-size: 150%;
}
h1 {
    font-family: Glacial Indifference;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    text-align: center;
    font-size: 125%;
}
h2 {
    font-family: Glacial Indifference;
}
.image-grid {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    vertical-align: middle;
}
p {
    font-size: 125%;
}