main, .essencial {
    text-align: center;
    align-content: center;
}
.principal{
    font-size: 150%;
}
h1 {
    font-family: Glacial Indifference;
}
.sobre {
    font-size: 125%;
}
.text {
    text-align: justify;
    margin: 0 auto;
    padding: 10px;
}
.sobre-img {
    width: auto;
    height: 250px;
    border-radius: 10px;
}
